
/*Arman start*/
@font-face{
    font-family: Railway;
    src: url('resources/Railway.otf');
}
h2{
    font-family:Railway;
}
#products{


}
.product{
    display: inline-flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 5px;
    font-family:Railway;

}
.productinfo {
    text-align: center;

}
.productinfo p{
    font-size: 1.5em;

}
/*checkout*/
.flextable{
    margin-left: 10%;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 1em;

}
.checkout{

}
.regform{
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;

}
.regform input{
    margin-top: 1em;
    display: block;
    float: right;
    padding: 2px;
 }
.formside{
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.formside input{
    margin-top: 1em;
    display: block;
    float: right;
    padding: 2px;
}
.cbox{
    padding: 1em;
    display: inline-flex;
    flex-direction: row;
    flex: 1 1 auto
}
.confirm-btn{
    margin-top: 2em;
    background-color: lightgrey;
    width: 6em;
    height: 2em;
    font-size: 1.2em;
    font-family: Railway;

}
/*checkout end*/
/*Arman end*/