body {
    font-family: 'Verdana', sans-serif;
    
}


body h1, h2, h3 {
    font-family: 'Railway', sans-serif;
    
}

h2 {
  font-size: 20px; 
}

h3 {
  font-size: 15px; 
    margin-top: 10px;
    margin-bottom: 10px;
}


p {
  font-size: 12px; 
}

.navbar {
    margin-bottom: 0;
}

.navbar-toggle {
    float: left;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #f3f1ed;
}

.logo {
    font-family: 'Pacifico', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.navbar-inverse {
    background-color: #f3f1ed !important;
    border: 0; 
    border-radius: 0;
    text-align: center;
}

.navbar-inverse .navbar-toggle {
    border-color: #f3f1ed;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #000000;
     background-color: #f3f1ed;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #f3f1ed;
}


.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}

.navbar-nav {
    display: inline-block;
    list-style-type: none;
        float: inherit;
    color: black;
}

.navbar-nav li {
    color: black;
}

.navbar-nav li:hover.mybutton {
    color: black;
}

footer {
    background-color: #f3f1ed;
    color: black;
    padding: 20px;
    text-align: center;
}

footer ul li a {
  font-size: 12px;
}


.kassa-img {
          width: 26px;
    margin: auto;
    float: right;
    margin-top: 18px;
    margin-right: 21px;
}

ul.kontakt-info {
    list-style-type: none;
        padding: 0;
}

ul.social-list {
    list-style-type: none;
    padding: 0;
}

ul.social-list li{
	display: inline-block;
}

ul.social-list li a {
      display: block;
    color: white;
    text-align: center;
    padding: 4px 4px;
    text-decoration: none;
}

ul.kontakt-info li a {
      display: block;
    color: #000000;
   
}

.socialmedielogo {
    width:20px;
    height: 20px;
        
}


.hero-unit {
	display: flex;
	height: 450px;
	background-image: url(cover1.jpg);
	background-size: cover;
	background-position: center center;
	}
	
	
	.hero-unit__content {
	margin: auto;
	text-align:center;
	background-color: #fff;
	color: #000;
	padding: 40px;
	}
	
	
	.hero-unit__content h2,p {
	margin: 0;
	padding: 0;
	}
	
	.hero-unit__content p {
	margin: auto;
    max-width: 430px;
	}

main {
    margin-top: 0;
    margin-bottom: 10px;
}
.introduction {
	text-align:center;
	 }


.introduction {
	text-align:center;
	 }


.introduction__content {
	    margin: auto;
    max-width: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
	 }


.articles {
	margin-top: 10px;
    margin-bottom: 30px;
	}

.articles ul {
	list-style-type: none;
	padding: 0;
	margin:0;
	}
	

.articles li {
 position: relative;
}

.articles a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    color: #000;
    text-decoration: none;
}

.articles .theme {
   margin: auto;
	text-align:center;
	background-color: #fff;
	color: #000;
	padding: 15px;
}


/*Arman start*/
@font-face{
    font-family: Railway;
    src: url('resources/Railway.otf');
}
h2{
    font-family:Railway;
}
#products{


}
.product{
    display: inline-flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 5px;
    font-family:Railway;

}
.productinfo {
    text-align: center;

}
.productinfo p{
    font-size: 1.5em;

}
/*checkout*/
.flextable{
    margin-left: 10%;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 1em;

}

.regform{
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;

}
.regform input{
    margin-top: 1em;
    display: block;
    float: right;
    padding: 2px;
}
.formside{
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.formside input{
    margin-top: 1em;
    display: block;

    padding: 2px;
}
.flexpay{
    margin-left: 10%;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 1em;


}
.cbox{
    padding: 1em;
    display: inline-flex;
    flex-direction: row;
    flex: 1  auto
}
.cardform{
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.cardform input{
    margin-top: 1em;
    display: block;
    padding: 2px;
}
.cardform select{
    margin-top: 0.9em;
    padding: 0.3em;
}
.confirm-btn{
    margin-top: 2em;
    background-color: lightgrey;
    width: 6em;
    height: 2em;
    font-size: 1.2em;
    font-family: Railway;
}
.contryselect{
    margin-top: 1em;
    padding: 0.3em;

}
/*checkout end*/
/*Arman end*/
   